// 颜色定义规范
$color = #00aeef
$bg = #efeff4
$color-background = #00aeef
$color-background-b = #3b8be3
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #9d9d9d
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-input = #454545
$color-y = #f7d60c
$color-r = #ff8577
$color-o = #ff943e
$color-g = #f0eff4

//字体定义规范
$font-size-small-s = 0.2rem
$font-size-small = 0.24rem
$font-size-medium = 0.28rem
$font-size-medium-x = 0.32rem
$font-size-large = 0.36rem
$font-size-large-x = 0.44rem

//字体颜色
$color-text-m = #333333
$color-text-a = #666666
$color-text-aa = #999999
$color-line = #dedede
